@import "tailwindcss";

/* :root {} */
/* @theme {} */

/*! Body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*! */
/* .cards {} */

/* .cards .cards-item {} */

/*! 看看几点了 */
.times {
  margin: 0;
  padding: 0;
  /* height: ; */
}

.times2 {
  height: 100%;
  background: none;
}

.times2 svg {
  height: 100%;
  width: max-content;
  margin-bottom: 0;
}

.words {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  fill: none;
  stroke-width: 5px;
  stroke-dasharray: 90, 310;
  animation: drawing 8s linear infinite;
}

.words-1 {
  stroke: deepskyblue;
  text-shadow: 0 0 50px deepskyblue;
  animation-delay: -2s;
}

.words-2 {
  stroke: lightseagreen;
  text-shadow: 0 0 50px lightseagreen;
  animation-delay: -4s;
}

.words-3 {
  stroke: orange;
  text-shadow: 0 0 50px orange;
  animation-delay: -6s;
}

.words-4 {
  stroke: purple;
  text-shadow: 0 0 50px purple;
  animation-delay: -8s;
}

@keyframes drawing {
  100% {
    stroke-dashoffset: -400;
  }
}

/*! 颜色模式 */
@media (prefers-color-scheme: light) {
  body {
    background-color: #f4f4f4;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #aaa;
  }
}

/*! */
@media screen and (max-width: 991px) {
  .cards>.cards-item {
    width: 48% !important;
    margin: 0 auto;
  }
}